<footer id="footer">
    <div class="footer-item-list">
        <div class="footer-item">
            <p class="footer-item-title">ABOUT US</p>
            <p>Explore the CHANGE.</p>
            <a href="/pages/about-us" class="before"><u>Learn More</u></a>
        </div>
        <div class="footer-item">
            <p class="footer-item-title">POLICIES</p>
            <a class="animated-underline" href="/pages/return_prime">Exchange/Return Your Order</a>
            <a class="animated-underline" href="/pages/shipping-policy">Shipping Policy</a>
            <a class="animated-underline" href="/pages/refund-return-exchange-cancellation"
                >Exchange and Refund Policy</a
            >
            <a class="animated-underline" href="/pages/terms-condition">Terms and Conditions</a>
            <a class="animated-underline" href="/pages/privacy-policy">Privacy Policy</a>
            <a class="animated-underline" href="/pages/fraud-protection">Fraud Protection</a>
        </div>
        <div class="footer-item">
            <p class="footer-item-title">NEWSLETTER</p>
            <p>
                You can be the first one to know about our <br />
                new releases, latest offers and more. <br />
                <a href="/account/register"><u>Sign up now!</u></a>
            </p>
            <input type="text" name="" id="" placeholder="Your E-mail" />
        </div>
        <div class="footer-item">
            <p class="footer-item-title">FOLLOW US</p>
            <p>Stay in touch!</p>
            <div>
                <a
                    href="https://www.instagram.com/overlaysclothing?igshid=NTdlMDg3MTY%3D"
                    target="_blank"
                    ><i class="fa-brands fa-instagram fa-2xl" style="color: #2f74f3"></i
                ></a>
                <a href="https://www.youtube.com/@OverlaysClothing/videos" target="_blank">
                    <i class="fa-brands fa-youtube fa-2xl" style="color: #2f74f3"></i
                ></a>
                <a href="https://twitter.com/overlayscloth?lang=en" target="_blank">
                    <i class="fa-brands fa-twitter fa-2xl" style="color: #2f74f3"></i
                ></a>
                <a href="https://www.facebook.com/OverlaysClothing" target="_blank"
                    ><i class="fa-brands fa-facebook fa-2xl" style="color: #2f74f3"></i
                ></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright-section">
        <a href="https://www.instagram.com/techburner" target="_blank"
            >Overlays clothing . Powered by Tech Burner Family</a
        >
    </div>
</footer>
