<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "Not Found" %> <% templateStyles =
"/css/404.css" %>

<div class="page-not-found">
    <h1 class="title-404">Oops!</h1>
    <h5 class="subtitle-404">We couldn't find that page.</h5>
    <p class="description-404">Maybe you can find what you need here?</p>
    <a href="/" class="home-link-404">Go to Home</a>
</div>
