<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "About Us" %> <% templateStyles =
"/css/about.css" %>

<article class="about-us-section">
    <h1 class="about-us-heading">About Us</h1>

    <section class="about-box">
        <figure>
            <img
                src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779233/kkk36ywffe4tun9sqyio.webp"
                alt="Cloth-Img"
            />
        </figure>
        <div class="text-container">
            <h2>Be The CHANGE</h2>
            <p>
                Overlays is all about bringing a CHANGE - a positive change - into people's lives.
                Overlays started with the intention of reaching out to the creative youth that is
                striving towards bringing a change in the world. To empower these creative people,
                Overlays believes in making something that proves to be an add-on to their
                creativity.
            </p>
        </div>
    </section>

    <section class="about-box">
        <div class="text-container">
            <h2>What do we stand for</h2>
            <p>
                To us, quality is something that cannot be compromised. We focus on refining the
                small details like the fabric's fitting and quality to increase their functionality
                in everyday life. We believe in making something unique that gives the fashion vibes
                and promises maximum comfort.
            </p>
        </div>
        <figure>
            <img
                src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779233/snds9fqd9pmcgdvnjhon.jpg"
                alt="Cloth-Img"
            />
        </figure>
    </section>
</article>
