<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "Contact Us" %> <% templateStyles =
"/css/contact.css" %>

<section class="contact-section">
    <div class="contact-container">
        <h1 class="contact-title">Contact Us</h1>

        <p class="contact-info">
            If you have any queries, you can reach us at
            <a href="mailto:support@overlaysclothing.com" class="contact-email"
                >support@overlaysclothing.com</a
            >.
        </p>

        <p class="contact-info">
            You can also reach us via WhatsApp at the bottom right corner of the website!
        </p>

        <p class="contact-info">We'll get back to you as soon as possible!</p>
    </div>
</section>
