<% layout("./layouts/boilerplate.ejs") %> <% pageTitle = "Error" %> <% templateStyles =
"/css/error.css" %>
<body>
    <div class="error-container">
        <div class="row">
            <div class="alert alert-danger col-6 offset-3 error-msg" role="alert">
                <p class="alert-heading"><%- message %></p>
            </div>
        </div>
    </div>
</body>
