<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "FAQ's" %> <% templateStyles =
"/css/faqs.css" %>
<section class="faqs-section">
    <h1>Frequently Asked Questions (FAQ)</h1>
    <div class="faq-item">
        <h2>Q. Do I need to create an account to place an order?</h2>
        <P
            >You can place an order without registering with us, however we offer a flat 10%
            discount on your first order if you sign up and create an account.</P
        >
    </div>
    <div class="faq-item">
        <h2>Q. I have forgotten my password, what should I do?</h2>
        <p>
            On the Sign In page, click "forgot password," enter your registered email address, and
            we will send you a link to reset your password.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. Is my personal information kept secret?</h2>
        <p>
            We take the security and privacy of our customers' personal data very seriously. We have
            implemented robust security measures and follow industry best practices to ensure that
            your data is safe and secure with us.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. Can I make changes to my order once it’s placed?</h2>
        <p>We're sorry, but once an order has been placed, it cannot be changed.</p>
    </div>
    <div class="faq-item">
        <h2>Q. How long will my order take to ship?</h2>
        <p>
            We ship all orders within two business days, but please refer to the shipment time for
            preorder products on the product page solely.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. How do I know which size fits me?</h2>
        <p>You can refer to the size chart that is listed on each product page.</p>
    </div>
    <div class="faq-item">
        <h2>Q. Can I track my order online?</h2>
        <p>
            Yes. We will provide the link to track your order’s shipping status to your registered
            email address once your order has been shipped.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. Can I exchange or return my order?</h2>
        <p>You can exchange or return a product within 15 days from the date of delivery.</p>
    </div>
    <div class="faq-item">
        <h2>Q. How can I place my exchange / return request?</h2>
        <ol>
            <li>Please follow these simple steps to initiate your return:</li>
            <li>Step 1: Go to My Account</li>
            <li>Step 2: Click My Orders</li>
            <li>Step 3: Select the order/product you wish to return.</li>
            <li>Step 4: Click on return.</li>
            <li>Step 5: Select reason for your return.</li>
            <li>
                Step 6: Upload clear images of the product, make sure the hand tag is attached to
                the product.
            </li>
            <li>Step 7: Select the address for pick up.</li>
            <li>Your return process is completed.</li>
            <li>
                Your return will be approved within 24-48 hours if it meets the criteria of being
                unwashed, unused and having all tags still attached.
            </li>
            <li>Once approved, you will be notified through the website.</li>
        </ol>
    </div>
    <div class="faq-item">
        <h2>Q. Can I cancel my order?</h2>
        <p>
            You can cancel an order before it is dispatched. But once the order has been shipped, it
            cannot be cancelled.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. What are the shipping charges?</h2>
        <p>
            We offer free shipping within India for all prepaid orders. Shipping costs are factored
            into Cash On Delivery (COD) orders only and will be calculated and revealed on the
            checkout page.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. Is there an extra payment for GST?</h2>
        <p>Prices shown on the website are inclusive of GST.</p>
    </div>
    <div class="faq-item">
        <h2>Q. Do you ship globally?</h2>
        <p>Not at the moment. We are currently distributing our products within India only.</p>
    </div>
    <div class="faq-item">
        <h2>Q. What payment methods can I use, is COD available?</h2>
        <p>
            You can place your order using any of the available online payment methods, or through
            cash on delivery. All online transactions are secured by RazorPay.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. How do I contact your customer service?</h2>
        <p>You can get in touch with us at <u>support@overlaysclothing.com</u>.</p>
    </div>
    <div class="faq-item">
        <h2>Q. Do you entertain institutional orders ?</h2>
        <p>You can get in touch with us at <u>support@overlaysclothing.com</u>.</p>
    </div>
    <div class="faq-item">
        <h2>Q. Can I buy your products offline or through retail?</h2>
        <p>We are currently only accepting orders online.</p>
    </div>
    <div class="faq-item">
        <h2>Q. I received a wrong item, what should I do?</h2>
        <p>
            Please contact us at support@overlaysclothing.com within 24 hours of delivery with an
            image of the product received.
        </p>
    </div>
    <div class="faq-item">
        <h2>Q. How do I know how to care for my products?</h2>
        <p>
            Please refer to the product care section on the product page next to the product
            description.
        </p>
    </div>
</section>
