<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "Fraud Protection" %> <% templateStyles =
"/css/fraud.css" %>

<section class="fraud-protection-section">
    <div class="fraud-container">
        <p class="fraud-message">&bull; Keep track of your Order ID.</p>

        <p class="fraud-message">
            &bull; The Order ID appears in all communications regarding your order from the
            confirmation stage to dispatch.
        </p>

        <p class="fraud-message">
            &bull; When making a cash on delivery payment, please confirm that the Order ID you have
            matches that of the delivery agent’s.
        </p>

        <p class="fraud-message">
            &bull; Never pay the delivery agent or any courier business in cash or by any online
            method for prepaid orders.
        </p>

        <p class="fraud-message">
            &bull; Never share your Delivery OTP to a delivery agent over the phone.
        </p>

        <P class="fraud-message" id="orderInstructions"
            >&bull; Share the Delivery Cancellation OTP with the delivery agent only if you wish to
            cancel the order.</P
        >
    </div>
</section>
