<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "Overlays Clothing Official Store" %> <% user = user%> <% templateStyles = "/css/home.css" %> <% templateJavaScript = "/js/home.js" %>
<main class="home-main-container" data-scroll-container>
    <section id="hero-section">
        <div id="hero-image">
            <a href="/collections/man/jacket"><img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/banner01-dekstop.jpg?v=1699099586" alt="Abstract Banner 1" id="banner-one" /></a>
        </div>
    </section>
    <section class="home-jackets-section">
        <div class="home-jackets-container">
            <% jacketProducts.forEach(product => { %>
            <div class="home-jacket-box" id="<%= product._id %>">
                <div class="home-jacket-image"><img src="<%= product.images[0].replace(/width=\d+/i, "width=626&height=626") %>" alt="Product Image" /></div>
                <p class="home-jacket-title"><%= product.title %></p>
                <button>Shop Now</button>
            </div>
            <% }) %>
        </div>
    </section>

    <section id="category-section">
        <h2 class="collections-gsap">Explore Categories</h2>
        <div id="category">
            <div class="collections collections-gsap">
                <a href="/collections/man/jacket"> <img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779233/s2tzb5ng09z31n6xlx0t.png" alt="Cloth-Img" /></a>
            </div>
            <div class="collections collections-gsap">
                <a href="/collections/man/jacket"> <img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779232/hne15nviuhqkcfsjr5vv.png" alt="Cloth-Img" /></a>
            </div>

            <div class="collections collections-gsap">
                <a href="/collections/woman"><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779233/u4ewhbf1nxh08kretciy.png" alt="Cloth-Img" /></a>
            </div>

            <div class="collections collections-gsap">
                <a href="/collections/man/polo-Tshirt"><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779233/xf0ksrdpgsfqdqzjvair.png" alt="Cloth-Img" /></a>
            </div>
        </div>
    </section>

    <section id="benefit-sections">
        <div class="benefit-section" role="alert">
            <img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779231/hkqxxbbi431frdg2kfxu.png" alt="Fast Delivery Van Icon" />
            <div>
                <p>FREE &amp; FAST DELIVERY</p>
                <p>Within 48 hours across India delivery.</p>
            </div>
        </div>
        <div class="benefit-section">
            <img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779231/ecvl5mg6vzauooltfth5.png" alt="Exchange Icon" />
            <div>
                <p>15 - DAY RETURNS</p>
                <p>Exchange &amp; Returns within 15 days.</p>
            </div>
        </div>
        <div class="benefit-section">
            <img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1702779231/p22lu1my3e20djycq2cb.png" alt="Email Icon" />
            <div>
                <p>CONTACT US</p>
                <p>support@overlaysclothing.com</p>
            </div>
        </div>
    </section>
    <section>
        <div class="banner-img">
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/banner02-dekstop.jpg?v=1699099589" alt="Abstract Banner 2" id="banner-two" />
            </a>
        </div>
        <div class="banner-img">
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/banner03-dekstop.jpg?v=1699100953" alt="Abstract Banner 3" id="banner-three" />
            </a>
        </div>
        <div class="banner-img">
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/banner04-dekstop.jpg?v=1699100958" alt="Abstract Banner 4" id="banner-four" />
            </a>
        </div>
        <div class="layer-img-container">
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/card01.jpg?v=1699101859" alt="Product Card 1" />
            </a>
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/card02.jpg?v=1699101875" alt="Product Card 2" />
            </a>
        </div>
        <div class="layer-img-container">
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/card03.jpg?v=1699101882" alt="Product Card 3" />
            </a>
            <a href="/collections/man/jacket">
                <img src="https://cdn.shopify.com/s/files/1/0566/0839/1368/files/card04.jpg?v=1699101881" alt="Product Card 4" />
            </a>
        </div>
    </section>

    <section id="instagram-section">
        <p>
            FOLLOW US
            <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank">INSTAGRAM</a>
        </p>

        <div class="instagram-img-box">
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076466/hykl9wtqbewsqbpk6rai.jpg" alt="Instagram Post 1"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076465/nruptza11lyjxoih3pe1.jpg" alt="Instagram Post 2"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076464/yamxzuiyrm5ii8xbpljd.jpg" alt="Instagram Post 3"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076466/enbwiloh1gj6hb7e4urv.jpg" alt="Instagram Post 4"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076464/rgjdtt7rfgqslcboawq4.jpg" alt="Instagram Post 5"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076464/dtnmrki8wjnpcovhvkyb.jpg" alt="Instagram Post 6"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076463/fr25euq4gw1yqcbfzrjx.jpg" alt="Instagram Post 7"
                /></a>
            </div>

            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076464/istomf1km6csvujde6rw.jpg" alt="Instagram Post 8"
                /></a>
            </div>

            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076464/j1ojxfluvqglmmbzqbjq.jpg" alt="Instagram Post 9"
                /></a>
            </div>
            <div>
                <a href="https://www.instagram.com/overlaysclothing/?hl=en" target="_blank"
                    ><img src="https://res.cloudinary.com/dcen2mnhx/image/upload/v1704076465/vg4okqtpo90vbt5x3mum.jpg" alt="Instagram Post 10"
                /></a>
            </div>
        </div>
    </section>
</main>
