<% layout("./layouts/boilerplate.ejs") -%> <% pageTitle = "Shipping Policy" %> <% templateStyles =
"/css/shipping.css" %>

<section class="shipping-container">
    <section class="shipping-section">
        <h3 class="policy-title">Shipping Policies</h3>
        <ul class="policy-list">
            <li class="policy-item">
                &bull; After the order confirmation, all orders are processed within 48 working
                hours (excluding weekends and holidays). A second notification will be sent to you
                once your order has been dispatched.
            </li>
            <li class="policy-item">
                &bull; Free shipping is provided on all pre-paid orders. Shipping cost is added in
                COD orders only and it will be calculated and shown to you at checkout.
            </li>
            <li class="policy-item">
                &bull; Orders are presently only processed and delivered within India only.
            </li>
            <li class="policy-item">
                &bull; All early access is redeemable on the given collection or all products across
                the website but is not refundable.
            </li>
        </ul>
    </section>
    <section class="shipping-section sub-section">
        <h3 class="policy-title">International Shipping Policies</h3>
        <div class="sub-section">
            <h4 class="sub-title">1. General Policy</h4>
            <p class="policy-text">
                We regret to inform our international customers that all sales of products are
                final. We do not accept returns or exchanges on international orders.
            </p>
        </div>
        <div class="sub-section">
            <h4 class="sub-title">2. Quality Assurance</h4>
            <p class="policy-text">
                We take the utmost care in ensuring the quality and accuracy of the products we
                ship. All products undergo a rigorous quality control process before being
                dispatched. In the unlikely event that you receive a damaged or defective item,
                please contact our Customer Support team within 2 days of receiving the order.
            </p>
        </div>
        <div class="sub-section">
            <h4 class="sub-title">3. Eligibility for Quality Concerns</h4>
            <p class="policy-text">
                We will assess and address quality concerns on a case-by-case basis. To be eligible
                for an assessment, the following conditions must be met:
            </p>
            <ul class="policy-list">
                <li class="policy-item">
                    &bull; The product is damaged or defective upon arrival.
                </li>
                <li class="policy-item">
                    &bull; The request is made within 2 days from the date the order was received.
                </li>
                <li class="policy-item">
                    &bull; The product has not been used, altered, or modified in any way.
                </li>
                <li class="policy-item">&bull; The original packaging and tags remain intact.</li>
            </ul>
        </div>
        <div class="sub-section">
            <h4 class="sub-title">4. Return/Exchange Process for Quality Concerns</h4>
            <p class="policy-text">
                If you believe your product meets the criteria mentioned above, please contact our
                Customer Support team at support@overlaysclothing.com with the following
                information:
            </p>
            <ul class="policy-list">
                <li class="policy-item">&bull; Your order number.</li>
                <li class="policy-item">&bull; A detailed description of the issue</li>
                <li class="policy-item">
                    &bull; Clear, high-quality photos of the damaged or defective product
                </li>
                <li class="policy-item">
                    &bull; Our team will assess your request and provide instructions on how to
                    proceed.
                </li>
            </ul>
        </div>
        <div class="sub-section">
            <h4 class="sub-title">5. Shipping Costs</h4>
            <p class="policy-text">
                For quality concerns that meet our criteria, we will provide instructions on the
                return/exchange process, which may include shipping instructions. We may provide a
                prepaid return shipping label or reimburse the return shipping costs to be sent by
                local Post office
            </p>
        </div>
        <p class="policy-text">
            &bull; If you have any further questions, please contact us at
            support@overlaysclothing.com.
        </p>
    </section>
</section>
